DATABASE_URL=postgresql://postgres:SUA_SENHA_AQUI@db.wjeamswalkklgbgkwrsu.supabase.co:5432/postgres
GEMINI_API_KEY=SUA_CHAVE_AQUI
FEED_USER_ID=SEU_USER_ID_AQUI
RESEND_API_KEY=SUA_CHAVE_AQUI
FEED_TO_EMAIL=seu_email@exemplo.com
